/*FOR DEVIDING THE PAGE INTO SECTIONS*/
/*header*/
header{
	padding-bottom: 3px;
}
	/*Title*/
.title{
	display: inline-block;
	float: left;
	width: 30%;
	font-size: 3em;
}
	/*hamburger*/
.hamburger{
	float: right;
	text-align: right;
	display: inline-block;
	width: 70%;
	font-size: 3em;
}
.hamburger-close{
	float: right;
	text-align: right;
	display: inline-block;
	width: 70%;
	font-size: 3em;
}
	/*Nav*/
.main-nav{
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;

}

.project-name{
	font-size: 2em;
	padding-bottom: .5em;
}
.project-container{
	width: 100vw;
	border-bottom: 2px solid black;
	/*border-top: 2px solid black;*/
	margin-bottom: 1em;
}
.project-pic{
	width: 100vw;
}
@media screen and (min-width:760px){
header{
	/*height: 10vh;*/
	}
.title{
	font-size: 3em;
	width: 50%;
}
.hamburger{
	display: none;
}
.main-nav{
	display: inline-block;
	width: 50%;

}
.main-nav ul{
	display: inline-block;
	width: 100%;

}
.nav-button{
	font-size: 3em;
	display: inline-block;
	width: 50%;
}
.main-nav ul li{
	display: inline-block;
	width: 49%;
	/*float: left;*/

}
.project-container{
	height: 100vh;
	width: 75vw;
	margin: auto;
	margin-bottom: 3em;
}
.project-pic{
	width: 100%;
}
}
