/*THE INSIDE OF BOXES*/
.nav-button{
width: 100%;
display: none;
clear: both;
text-align: center;
/*font-size: 3em;*/
/*padding: auto 0 auto 0;*/
}
.project-description{
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 1em;
}
.project-name{
	text-align: center;
	font-size: 2em;
	padding-bottom: .5em;
}
.project-pic{
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.filter{
	text-align: center;
}
.nav-ul{
	width: 100%;
}
