/*THE INSIDE OF BOXES*/
.main-nav ul li{
	width: 100%	;
	display: none;

}
.nav-button{
clear: both;
width: 100%;
text-align: center;
font-size: 2em;
border-bottom: 2px solid black;
padding: 4px 0 4px 0;
}
.project-image{
	width: 100%;
}
.project-description{
	width: 100%;
}
