/*main*/
body{
	background-color: #E4EEFB;
}
.project-container{
}
header{
}
.nav-button{
}
.nav-button:hover{
	color: #FFC47C;
}
/*scroll*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
