/*FOR DEVIDING THE PAGE INTO SECTIONS*/
/*header*/
header{

}
	/*Title*/
.title{
	display: inline-block;
	float: left;
	width: 30%;
}
	/*hamburger*/
.hamburger{
	float: right;
	text-align: right;
	display: inline-block;
	width: 70%;
	font-size: 3em;
}
.hamburger-close{
	float: right;
	text-align: right;
	display: inline-block;
	width: 70%;
	font-size: 3em;
}
	/*Nav*/
.main-nav{
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;

}
.project-container{
	width: 100vw;
	border-bottom: 2px solid black;
	/*border-top: 2px solid black;*/
	margin-bottom: 1em;
}

/**/

}
